
#section1{
	    background-color: rgb(239, 33, 70);
}
#section1 img{
	width: 216px;
    height: auto;
}
#section1 .container.content{
	padding-top: 60px;
    padding-bottom: 60px;
}
#section1 p{
	text-align: center;
	color: white;
     font-size: 40px;
     font-family: 'Roboto', sans-serif;
     margin-top: 40px;
     font-weight: 800;
}
#section2{
	margin-top:90px;
}
#section2 img{
	height: auto;
	width: 100%;
	

	    transition: .9s;
}
#section2 img:hover{
	transform: scale(1.20);
    transition: .9s;

}
#section2 .outer-div{
	overflow: hidden;
	margin-bottom: 40px;
}
#section22 img:hover{
	transform: scale(1.20);
    transition: .9s;

}
#section22 .outer-div{
	overflow: hidden;
	margin-bottom: 40px;
}
#section2 p{
	    color: #888888!important;
	    text-align: center;
	    font-size: 15px;
	    font-family: 'Roboto', sans-serif;
	    letter-spacing: 1px;


}

#section22{
	margin-top:50px;
}
#section22 img{
	height: auto;
	width: 100%;
	
}
#section22 p{
	    color: #888888!important;
	    text-align: center;
	    font-size: 15px;
	    font-family: 'Roboto', sans-serif;
	    letter-spacing: 1px;
	   

}
#section3{
	margin-top: 60px;
	    background-color: rgb(239, 239, 239);

}
#section3 li{
	    list-style: none;
	        color: #ef2146;
	        font-size: 17px;
	        padding: 5px;
	        font-family: inherit;
	        line-height: 28px;
}
#section3 h3{
	margin-top: 40px;
	    margin-left: 25px;
}
#section3 .col{
	width: 49%;
	display: inline-block;
}
#section4{
	background-color: black;
}
#section4 p{
	    color: #888;
	    padding-top: 35px;
	    padding-bottom: 35px;
	    text-align: center;
	    font-size: 14px;
	    margin-bottom: 0;
}
#section4 a{
	    color: #bbb!important;
	    font-size: 14px;
}
#section4 p::after{
  content: "";

}
#section4 .btn{
	    background-color: #fff;
    border-radius: 0;
    font-size: 35px;
    line-height: 27px;
    position: fixed;
    bottom: 7%;
    right: 3%;
    opacity: .75;
    color: black!important;
    box-shadow: 0 0 0 1px rgba(0,0,0,.3);
}
html{
	scroll-behavior: smooth;
}
@media only screen and (max-width: 767px) {
 #section3 .col{
	width: 49%;
	display: block;
} 
}